// Accent defintions


// Blue
// NOTE: Update $accent-var for each in user.scss
$accent-blue: #0d47a1;
$accent-blue-explorer: #101b2d;
$accent-blue-explorer-icon-shadow: #64b5f6;
$accent-blue-address-bar: #0d47a1;
