/**
 * Defines body styles, such as background
 */
@import "variables/body";

body, #background-filter {
  // Background from https://wallpaperbrowse.com/media/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg
  background: url("tara://plugin/one-fluent-theme/file/assets/background-#{$background-number}#{$background-file-ext}");
  background-size: 100% 100%;
}

#background-filter {
  bottom: 0;
  filter: blur($background-blur);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
