// Mixins

// Set a background opacity
@mixin background-opacity($colour, $opacity) {
  background: rgba($colour, $opacity);
}

// Create a shadow
@mixin shadow($x, $y, $blur, $colour, $opacity, $type) {
  -moz-#{$type}-shadow: $x $y $blur rgba($colour, $opacity);
  #{$type}-shadow: $x $y $blur rgba($colour, $opacity);
  -webkit-#{$type}-shadow: $x $y $blur rgba($colour, $opacity);
}

// Maximise
@mixin maximise {
  height: 100%;
  width: 100%;
}

// Border-radius
@mixin circle {
  border-radius: 100px;
}
