// Panel theme
@import "mixins";
@import "user";
@import "variables/explorer";

$file-width: map-get($file-wrapper-spacing, accross) * $zoom-level + $icon-base * $zoom-level;

// Modules
.tara-explorer {
  @include background-opacity($accent-explorer, $explorer-opacity);
  overflow: scroll;
  .file-wrapper {
    display: inline-block;
    margin-top: map-get($file-wrapper-spacing, down) * $zoom-level;
    text-align: center;
    width: $file-width;

    // Icons
    .fa {
      // Shadow
      @include shadow(
        map-get($explorer-icon-shadow, x) * $zoom-level,
        map-get($explorer-icon-shadow, y) * $zoom-level,
        map-get($explorer-icon-shadow, blur) * $zoom-level,
        $accent-explorer-icon-shadow,
        map-get($explorer-icon-shadow, opacity),
        text
      );
      // Default font size
      font-size: $icon-file-base * $zoom-level;
    }

    // Folder icon
    .fa-folder {
      font-size: $icon-base * $zoom-level;
    }

    // Text
    p {
      display: table;
      font-size: $text-base * $zoom-level;
      margin: 0 auto;
    }
  }

  // If file is hightlighted
  .file-highlighted {
    .fa {
      @include shadow(
        map-get($explorer-icon-shadow, x) * $zoom-level,
        map-get($explorer-icon-shadow, y) * $zoom-level,
        23px * $zoom-level,
        $accent-explorer,
        1,
        text
        );
      color: $accent-explorer-icon-shadow;
    }
    // text
    p {
      background-color: $accent;
      border-radius: 20px;
      padding: 0 10px;
    }
  }
}
