// User stuff
// Such as accent
@import "accents";

$accent: $accent-blue;
$accent-explorer: $accent-blue-explorer;
$accent-explorer-icon-shadow: $accent-blue-explorer-icon-shadow;
$accent-address-bar: $accent-blue-address-bar;


// Zoom
$zoom-level: 3;
