// Panel theme
@import "../colours";
@import "../mixins";
@import "../user";
@import "../variables/address-bar";

// Address bar
.tara-address-bar {
  // @include background-opacity($accent-address-bar, $address-bar-opacity);
  height: 38px; // Keep height constant so the picker doesn't push the files grid down when activated
  text-align: center;
  .current-dir {
    display: inline-block;
    font-size: $address-bar-font-size * $zoom-level;
  }
  .fa {
    @include background-opacity($accent-address-bar, $address-bar-icons-opacity);
    @include circle;
    border: solid 1px;
    left: 9px;
    padding: 7px;
    position: absolute;
    // top: 8px;
    width: 30px;
    margin-top: 3.1px;
  }
  .fa:hover {
    @include background-opacity($accent-address-bar, $address-bar-icons-opacity-hover);
  }
  .fa:active {
    @include background-opacity($accent-address-bar, $address-bar-icons-opacity-active);
  }
  span:nth-child(2) {
    margin-left: 35px;
  }

  // Address bar picker styles
  .address-bar-picker {
    margin-top: -2px;
    width: 80%;
    border: solid 1px $address-bar-border-colour;
    border-radius: 10px;
    input {
      @include background-opacity($accent-address-bar, $address-bar-picker-opacity);
      color: $accent-text-colour;
    }
    input:active, input:focus {
      @include background-opacity($accent-address-bar, $address-bar-picker-opacity-active);
      color: $accent-text-colour;
    }
    input::selection {
      @include background-opacity($address-bar-picker-highlight, $address-bar-picker-highlight-opacity);
      color: $accent-text-colour;
    }
    .address-bar-button {
      @include background-opacity($accent-address-bar, $address-bar-picker-button-opacity);

      color: $accent-text-colour;
      padding-top: 8.5px !important;
    }
    .address-bar-button:hover {
      @include background-opacity($accent-address-bar, $address-bar-picker-button-opacity-hover);
    }
    .address-bar-button:active {
      @include background-opacity($accent-address-bar, $address-bar-picker-button-opacity-active);
    }
  }
}

// Class for when the picker (textbox) is in use
.tara-address-bar-active {
  margin-top: 25px;
}