/**
 * @overview Fonts for tara
 */
@font-face {
  font-family: 'Open Sans';
  src: url("assets/fonts/open-sans/OpenSans-Regular.tff");
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url("assets/fonts/open-sans/OpenSans-Bold.tff");
}

@font-face {
  font-family: 'Open Sans Light';
  src: url("assets/fonts/open-sans/OpenSans-Light.tff");
}
