@import "theme";

body {
  background-color: $background-colour;
}

// Apply defaults to everything
body, h1, h2, h4, h5, h5, h6, p {
  color: $text-colour;
  font-family: $font !important;
}

// Fix an issue where resizer for panes/panels was not shown
.Resizer {
  &.horizontal {
    background-color: $panel-resizer-colour;
    border-bottom: solid $background-colour 5px; // Increase hover area
    border-top: solid $background-colour 5px; // Increase hover area
    height: $panel-resizer-width;
  }
  &.horizontal:hover {
    cursor: row-resize;
  }

  &.vertical {
    background-color: $panel-resizer-colour;
    border-left: solid $background-colour 5px; // Increase hover area
    border-right: solid $background-colour 5px; // Increase hover area
    width: $panel-resizer-width;
  }
  &.vertical:hover {
    cursor: ew-resize;
  }
}
