// Fallback for panes/panels
.Resizer {
  &.horizontal {
    background-color: $panel-resizer-colour;
    border-bottom: solid $background-colour 5px; // Increase hover area
    border-top: solid $background-colour 5px; // Increase hover area
    height: $panel-resizer-width;
  }
  &.horizontal:hover {
    cursor: row-resize;
  }

  &.vertical {
    background-color: $panel-resizer-colour;
    border-left: solid $background-colour 5px; // Increase hover area
    border-right: solid $background-colour 5px; // Increase hover area
    width: $panel-resizer-width;
  }
  &.vertical:hover {
    cursor: ew-resize;
  }
}
